/* Визначаємо кольори для кнопок в навігації */
.navbar-nav .nav-item .nav-link {
  color: #000; /* Чорний колір тексту */
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  background-color: transparent; /* Прозорий фон */
  padding: 12px 18px;
  border-radius: 30px;
}

/* Плавне масштабування кнопок з ефектом при наведенні */
.navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.1) rotate(5deg);
  color: #fff; /* Білий текст */
  background-color: #003366; /* Темно-синій фон при наведенні */
}

/* Для кнопки Logout */
button[type="submit"].btn.btn-link.nav-link.nav-link-icon {
  color: #000; /* Чорний колір тексту */
  transition: all 0.3s ease;
  padding: 12px 18px;
  border-radius: 30px;
}

button[type="submit"].btn.btn-link.nav-link.nav-link-icon:hover {
  transform: scale(1.1) rotate(5deg);
  color: #fff;
  background-color: #003366;
}


.navbar-nav .nav-item .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.home-page .btn:hover {
  transform: scale(1.1) rotate(5deg);
  color: #fff;
  background-color: #003366;
}

