{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Update Task {% endblock title %}

{% block content %}
<header class="bg-gradient-dark">
  <div class="page-header section-height-75" style="background-image: url('{{ ASSETS_ROOT }}/img/meeting.jpg');">
    <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">Update Task: <br> 
            {{ task.name }}</h1>
          <p class="lead mb-4 text-white opacity-8">Edit the details of this task below.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Task</button>
        <a href="{% url 'tasks:task-list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
