{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Update Worker {% endblock title %}

{% block content %}
<header class="bg-gradient-dark">
  <div class="page-header section-height-75" style="background-image: url('{{ ASSETS_ROOT }}/img/office-dark.jpg');">
    <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">Update Worker</h1>
          <p class="lead mb-4 text-white opacity-8">Update the worker's details here.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-warning">Update Worker</button>
      </form>
      <a href="{% url 'tasks:worker-detail' worker.pk %}" class="btn btn-secondary mt-3">Back to Details</a>
    </div>
  </div>
</div>

{% endblock content %}
